<header>
  <nav class="nav">
    <div class="nav-brand">
      <a href="/" class="logo-link" aria-label="Old Pros Home">
        <video class="logo" autoplay muted loop playsinline>
          <source src="/images/op-logo-owl-animate.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </a>
      <!--<span class="brand-text">Old Pros</span>-->
      <span class="brand-text">
        <span class="old">Old Pros</span> 
      </span>
 
    </div>

    <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
      ☰
    </button>

    <ul class="nav-links">
      
    <div class="cta-buttons">
      <button id="cta-business" class="cta">Contact Us</button>
    </div>

      <li><a href="/home">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
